<a href="https://colab.research.google.com/github/abhijyoti/Python-work/blob/main/Copy_of_Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello world program

In [ ]:
x=5
x='Abhi'
print(type(x),x)

<class 'str'> Abhi

In [ ]:
x,y,z=5,'AAAA',0.00023
print(type(x),x,type(y),y,type(z),z)

<class 'int'> 5 <class 'str'> AAAA <class 'float'> 0.00023

In [ ]:
x=4
y='abhi'
c = x + y
print(c)

8

#Exercise-1,Exercise-2

In [ ]:
carname = 'Volvo'
print(carname)
x=50
print(x)

Volvo
50

#Exercise-3,Exercise-4

In [ ]:
x,y=5,10
print(x+y)

x,y=11,17
z=x+y
print(z)

15
28

In [ ]:
'''x1 = 'Hello'
x2 = 10
x3 = 10.2
x4 = ['apple','banana','cherry']
x5 = ('apple','banana','cherry')
x6 = range(6)
x7 = {'name':'John','age':18}
x8 = {'apple','banana','cherry'}
x9 = True'''
print(x1,x2,x3,x4,x5,x6,x7,x8,x9,sep="\n")

Hello
10
10.2
['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
range(0, 6)
{'name': 'John', 'age': 18}
{'banana', 'apple', 'cherry'}
True

'print\nprinty\nrogedfn\ngfslsgrs'

In [ ]:
x = 'jay'
print(x)

jay

In [ ]:
''

In [ ]:
age = 20
txt = 'My age is {}'
print(txt.format(age))

My age is 20

In [ ]:
name = 'alvas'
print(len(name))
print(name[0:4])
print(name.upper())
print(name + ' college')
name = 'alvas {}'
b = 'college'
print(name.format(b))
print(name.isdigit())

5
alva
ALVAS
alvas college
alvas college
False

In [ ]:
print(10>9)
print(10==9)
print(4 + 5)
x= 5
x +=3
print(x)

True
False
9
8

In [ ]:
x = 3
y = 4
print(x != y)

True

In [ ]:
a = int(input('Enter the value of a '))
b = int(input('Enter the value of b '))
print('S4um = ',a + b)
print('Sub = ',a - b)
print('M =',a * b)
print('D =',a / b)
print('P = ',a % b)

Enter the value of a 3
Enter the value of b 5
S4um =  8
Sub =  -2
M = 15
D = 0.6
P =  3

In [ ]:
l = list(('CSE','ISE','ECE','CIV','MECH'))
print(l)
print(l[:3])
print(l[-3:])

['CSE', 'ISE', 'ECE', 'CIV', 'MECH']
['CSE', 'ISE', 'ECE']
['ECE', 'CIV', 'MECH']

In [ ]:
a = ['Apple','banana','cherry']
b = ['mango','papaya']

c = a + b
a.append('Grapes')
a.extend(b)
print(a)

['Apple', 'banana', 'cherry', 'Grapes', 'mango', 'papaya']

In [ ]:
a = ['apple','cherry']
b = ['apple']
c = a + b
print(c)

['apple', 'cherry', 'apple']

In [ ]:
a = [100,54,85,12,96]
a.sort(reverse = True)
print(a)

[100, 96, 85, 54, 12]

In [ ]:
age = ['abhi','opps','deeed']
a = [100,54,85,12,96]
age.extend(a)
print(age)

['abhi', 'opps', 'deeed', 100, 54, 85, 12, 96]

In [ ]:
age = [1,2,3,6]
age.append(9)
print(age)
del age[2]
print(age)
print(age.count(3))

[1, 2, 3, 6, 9]
[1, 2, 6, 9]
0

In [ ]:
x = ('abhi','opps','deeed')
print(type(x))
y=list(x)
y[1]='kiwi'
x = tuple(y)
print(y)

<class 'tuple'>
['abhi', 'kiwi', 'deeed']

In [ ]:
fruit= ('apple','banana','cherry')
x = list(fruit)
x.append('been')
y = tuple(fruit)
print(y)
print(x)

('apple', 'banana', 'cherry')
['apple', 'banana', 'cherry', 'been']

#ASSIGNMENT-1

In [ ]:
student = []
student.append(input("Enter your name: "))
print(student)
student.append(input("Enter your USN: "))
print(student)
branch = input("Enter your Branch: ")
phno = int(input("Enter your mobile number: "))
sec = input("Enter your section: ")
student.append(branch)
student.append(phno)
student.append(sec)
print(student)
student.reverse()
print(student)

Enter your name: abhi
['abhi']
Enter your USN: 001
['abhi', '001']
Enter your Branch: CSE
Enter your mobile number: 8073913221
Enter your section: A
['abhi', '001', 'CSE', 8073913221, 'A']
['A', 8073913221, 'CSE', '001', 'abhi']

#DAY-2-WORKSHOP

In [ ]:
numbers = {2,3,4,5}
print(numbers)
a = set(('ece','cse','ise'))
print(a)
a.add('civ')
print(a)
print(len(a))
a.add('cse')
print(a)
a.remove('civ')
print(a)
a.pop()
print(a)
a.add('cse')
print(a)
d = a.pop()
print(d)
a = {'aa','bb','cc'}
a.clear()
print(a)
del a
x = {'a','b','c'}
y = {1,2,3}
z = x.union(y)
print(z)

{2, 3, 4, 5}
{'cse', 'ise', 'ece'}
{'cse', 'ise', 'ece', 'civ'}
4
{'cse', 'ise', 'ece', 'civ'}
{'cse', 'ise', 'ece'}
{'ise', 'ece'}
{'cse', 'ise', 'ece'}
ise
set()
{'a', 1, 2, 3, 'b', 'c'}

In [ ]:
a = {1,2,3}
b = {4,6,5,6}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

In [ ]:
a =[1,2,3,4]
s = set(a)
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
fruits = {'apple','bananan'}
fruits.add('orange')
print(fruits)
m_fruit = ['grpes','mango']
fruits.update(m_fruit)
print(fruits)
fruits.remove('bananan')
print(fruits)

{'apple', 'bananan', 'orange'}
{'grpes', 'mango', 'apple', 'bananan', 'orange'}
{'grpes', 'mango', 'apple', 'orange'}

In [ ]:
a = [1,2,1,2,3]
print(len(set(a)))

3

In [ ]:
today =  {
    'day' : 'tursday',
    'date' : '07/01/2021',
    'month' : 'Jan'
}
print(today)

{'day': 'tursday', 'date': '07/01/2021', 'month': 'Jan'}

In [ ]:
car = {
    'BRAND':'audi',
    'model':'R8',
    'price':'2.30 crores',
    'BRAND':'Rolls Royce',
    'model':'ghost',
    'price':'6.95 crores'
}
x = car.keys()
print(car)
print(x)
car['color'] = 'black'
print(car)
car.pop('model')
print(car)
car.add('model')
print(car)

{'BRAND': 'Rolls Royce', 'model': 'ghost', 'price': '6.95 crores'}
dict_keys(['BRAND', 'model', 'price'])

In [ ]:
car = {
    'BRAND':'audi',
    'model':'R8',
    'price':'2.30 crores',
    'BRAND':'Rolls Royce',
    'model':'ghost',
    'price':'6.95 crores'
}
car.get('BRAND')
car['model'] = 'pantom'
print(car)

{'BRAND': 'Rolls Royce', 'model': 'pantom', 'price': '6.95 crores'}

In [ ]:
a,b = 10,20
if a > b:
    print('b is greater then a')
else:
    print('a is greater')

a is greater

In [76]:

a = input('enter A value ')
b = input('enter b value ')
c = input('enter c value ')
if (a > b and a > c):
  print('a is greater')
elif (b > c and b > a):
  print('b is greater')
else:
  print('c is greater')

enter A value 20
enter b value 30
enter c value 40
c is greater

In [78]:
max(a,b,c)

'40'

In [85]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [93]:
a = int(input("enter any no's "))
i = 0
s = 0
while i <= a:
  s = s + i
  i +=1
print(s)

enter any no's 5
15

In [95]:
a = ['apple','banana','papaya']
for x in a:
  print(x)

apple
banana
papaya

In [97]:
for x in 'apple':
  print(x)

a
p
p
l
e

In [103]:
for x in range (3,30,2):
  print(x)

3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [104]:
a = ['red','blue','tasty']
b = ['apple','banana','papaya']
for x in a:
  for y in b:
    print(x,y)

red apple
red banana
red papaya
blue apple
blue banana
blue papaya
tasty apple
tasty banana
tasty papaya

In [133]:
x = int(input('Enter x '))
even = [],odd = []
for i in range(1,x+1,2):
  #if i % 2 == 0:
  even.append(i)  
  #else:
for i in range(1,x-1,2):
  odd.append(i + 1)
print('odd =',odd,'even = ',even)
#print(even)

Enter x 10

ValueError: ignored

In [138]:
a = []
for i in range (1,21):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [141]:
a = [i for i in range(1,21)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [155]:
a = [i*i for i in range(1,11)]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [151]:
x = [i for i in range(1,21) if i%2==0]
print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [153]:
m=[1,1,2,3]
print(all(m))

True

In [156]:
a = [i*i for i in range(1,21)]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [162]:
a = [i**2 for i in range(1,26) if i*i <= 25]
print(a)

[1, 4, 9, 16, 25]

In [166]:
def fun(fname):
  print(fname + 'ref')
fun('jack')
fun('emil')

jackref
emilref

In [172]:
def fun(a,b=3):
  return a+b+str(3)
z=fun('jack','Jill')
print(z)

jackJill3