<a href="https://colab.research.google.com/github/abhijyoti/Python-work/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello world program

In [ ]:
x=5
x='Abhi'
print(type(x),x)

<class 'str'> Abhi

In [ ]:
x,y,z=5,'AAAA',0.00023
print(type(x),x,type(y),y,type(z),z)

<class 'int'> 5 <class 'str'> AAAA <class 'float'> 0.00023

In [ ]:
x=4
y='abhi'
c = x + y
print(c)

8

#Exercise-1,Exercise-2

In [ ]:
carname = 'Volvo'
print(carname)
x=50
print(x)

Volvo
50

#Exercise-3,Exercise-4

In [ ]:
x,y=5,10
print(x+y)

x,y=11,17
z=x+y
print(z)

15
28

In [ ]:
'''x1 = 'Hello'
x2 = 10
x3 = 10.2
x4 = ['apple','banana','cherry']
x5 = ('apple','banana','cherry')
x6 = range(6)
x7 = {'name':'John','age':18}
x8 = {'apple','banana','cherry'}
x9 = True'''
print(x1,x2,x3,x4,x5,x6,x7,x8,x9,sep="\n")

Hello
10
10.2
['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
range(0, 6)
{'name': 'John', 'age': 18}
{'banana', 'apple', 'cherry'}
True

'print\nprinty\nrogedfn\ngfslsgrs'

In [ ]:
x = 'jay'
print(x)

jay

In [ ]:
''

In [ ]:
age = 20
txt = 'My age is {}'
print(txt.format(age))

My age is 20

In [ ]:
name = 'alvas'
print(len(name))
print(name[0:4])
print(name.upper())
print(name + ' college')
name = 'alvas {}'
b = 'college'
print(name.format(b))
print(name.isdigit())

5
alva
ALVAS
alvas college
alvas college
False

In [ ]:
print(10>9)
print(10==9)
print(4 + 5)
x= 5
x +=3
print(x)

True
False
9
8

In [ ]:
x = 3
y = 4
print(x != y)

True

In [ ]:
a = int(input('Enter the value of a '))
b = int(input('Enter the value of b '))
print('S4um = ',a + b)
print('Sub = ',a - b)
print('M =',a * b)
print('D =',a / b)
print('P = ',a % b)

Enter the value of a 3
Enter the value of b 5
S4um =  8
Sub =  -2
M = 15
D = 0.6
P =  3

In [ ]:
l = list(('CSE','ISE','ECE','CIV','MECH'))
print(l)
print(l[:3])
print(l[-3:])

['CSE', 'ISE', 'ECE', 'CIV', 'MECH']
['CSE', 'ISE', 'ECE']
['ECE', 'CIV', 'MECH']

In [ ]:
a = ['Apple','banana','cherry']
b = ['mango','papaya']

c = a + b
a.append('Grapes')
a.extend(b)
print(a)

['Apple', 'banana', 'cherry', 'Grapes', 'mango', 'papaya']

In [ ]:
a = ['apple','cherry']
b = ['apple']
c = a + b
print(c)

['apple', 'cherry', 'apple']

In [ ]:
a = [100,54,85,12,96]
a.sort(reverse = True)
print(a)

[100, 96, 85, 54, 12]

In [ ]:
age = ['abhi','opps','deeed']
a = [100,54,85,12,96]
age.extend(a)
print(age)

['abhi', 'opps', 'deeed', 100, 54, 85, 12, 96]

In [ ]:
age = [1,2,3,6]
age.append(9)
print(age)
del age[2]
print(age)
print(age.count(3))

[1, 2, 3, 6, 9]
[1, 2, 6, 9]
0

In [ ]:
x = ('abhi','opps','deeed')
print(type(x))
y=list(x)
y[1]='kiwi'
x = tuple(y)
print(y)

<class 'tuple'>
['abhi', 'kiwi', 'deeed']

In [ ]:
fruit= ('apple','banana','cherry')
x = list(fruit)
x.append('been')
y = tuple(fruit)
print(y)
print(x)

('apple', 'banana', 'cherry')
['apple', 'banana', 'cherry', 'been']

In [ ]:
student = []
student.append(input("Enter your name: "))
print(student)
student.append(input("Enter your USN: "))
print(student)
branch = input("Enter your Branch: ")
phno = int(input("Enter your mobile number: "))
sec = input("Enter your section: ")
student.append(branch)
student.append(phno)
student.append(sec)
print(student)
student.reverse()
print(student)